
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {       
   
    font-size: 28px;
    font-family: 'Raleway', sans-serif;;
}



.img-logo{
    margin-top: 20%;
}

.content-text{
    text-align: justify;
}


    hr {
        height: 1px;
        color:#002E56;
        background-color:#002E56;
        border: 1px;
        width: 50%;
    }


.caja-about{
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.caja--columna-about div{
 /* background: #002E56; */
  padding: 0em;    /*crece a lo largo*/
}
.caja--columna-about{
display: grid;
}


@media(min-width:300px){
    .caja--columna-about{
        grid-template-columns: repeat(1,1fr);
        
    }

    .caja--columna-about .caja-about:nth-child(1){
              
        grid-column: 1/2;/*posicion col 4,4*/
        grid-row: 1/3; /*le decimos:columna 1 - fila 4*/
    }

    .img-about{
        width: 70%;
        height: 30vh;
        margin-left: 1em;
       margin-right: 5em;
    }
    .img-logo{
        margin-top: 4%;
        width: 40%;
        
    }

    .content-text{
       
       font-size: 0.3em;
       margin-left: 1em;
       margin-right: 5em;
    }
    
}



@media(min-width:520px){
    .caja--columna-about{
        grid-template-columns: repeat(2,1fr);
        
    }

    .caja--columna-about .caja-about:nth-child(1){
              
        grid-column: 1/2;/*posicion col 4,4*/
        grid-row: 1/3; /*le decimos:columna 1 - fila 4*/
    }

    .img-about{
        
        height: 35vh;
    }
    .img-logo{
        margin-top: 5%;
    }

    .content-text{
       font-size: 0.6em;
    }
    
}

@media(min-width:1024px){
    .contenedor-about{
        width: 1024px;
    }

    .caja--columna-about{
        
        grid-auto-rows: minmax(150px,auto);  /*medida de las filas*/
        grid-template-columns: repeat(2,1fr); /*vamos a tener 3 columnas*/
    }

    .caja--columna-about .caja-about:nth-child(1){
              
        grid-column: 1/2;/*posicion col 4,4*/
        grid-row: 1/3; /*le decimos:columna 1 - fila 4*/
    }

    .img-about{
        width: 93%;
        height: 90vh;
    }

}  